html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$nest-color: #fffefc;

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: $nest-color;
}
