@use "../../styles/utils/breakpoints";

.navbar{
    padding: 1rem;
    margin-bottom: 1rem;


    li{
        list-style: none;
        padding-bottom: 0.5rem;

        .active{
            color: blue;
            font-weight: bold;
        }

        a{
            font-size: 1.15rem;
            font-weight: bold;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
    }

    &__logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name{
        font-weight: bold;
        font-size: 1.75rem;
        display: inline-flex;
        align-items: center;
        padding-left: 0.5rem;
    }
    
    &__icon{
        height: 5.5rem;
    }

    &__burger{
        display: inherit;
        font-size: 1.25rem;
        background-color: transparent;
        border:none;
        transition: 0.35s;  
    }

    &__menu{
        position: absolute;
        width :100%;
        left: 0;
        right: 0;
        transition: 0.35s;        
        height: 0px;
        overflow-y: hidden;
    }

    &__open{    
        height: 250px;
    }

    ul{
        padding-left: 0;
        background-color: rgb(247, 243, 237);
    }

    li{
        padding: 0.75rem;
        text-align: center;
    }


    @include breakpoints.breakpoint("lg"){
        ul{
            display: flex;
            background-color: inherit;
        }

        &__menu{
            height: auto;
        }

        &__content{
            flex-direction: row;
            justify-content: space-between ;
        }

        li{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0;
        }

        &__burger{
            display: none;
        }

        &__menu{
              position: static;
        }

        &__menus{
          display: flex;
          align-items: center;
        }
    }

}




.footer{
   position: absolute;
   bottom: 0;
   background-color: rgb(253, 233, 79) ;
   padding: 0.5rem;
   width: 100%;
}